-e git+https://github.com/secedu/flask-core.git@master#egg=flask_core

appdirs==1.4.3
certifi==2018.11.29
chardet==3.0.4
click==6.7
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.5
Flask==0.12.1
gunicorn==19.9.0
idna==2.8
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mccabe==0.6.1
packaging==16.8
psutil==5.4.3
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pyflakes==2.1.0
pyparsing==2.2.0
requests==2.21.0
six==1.10.0
SQLAlchemy==1.2.18
urllib3==1.24.1
Werkzeug==0.12.1
